In [1]:
import numpy as np
import pandas as pd
data = {
    'State': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware'],
    'Population': [4779736, 710231, 6392017, 2915918, 37253956, 5029196, 3574097, 897934],
    'Murder Rate': [5.7, 5.6, 4.7, 5.6, 4.4, 2.8, 2.4, 5.8]
}
md = pd.DataFrame( data )
md

         State  Population  Murder Rate
0      Alabama     4779736          5.7
1       Alaska      710231          5.6
2      Arizona     6392017          4.7
3     Arkansas     2915918          5.6
4   California    37253956          4.4
5     Colorado     5029196          2.8
6  Connecticut     3574097          2.4
7     Delaware      897934          5.8

In [7]:
np.mean(md['Population'], trim=0.1)

7694135.625

In [18]:
#trim mean 
from scipy.stats import trim_mean
a=trim_mean(md['Population'], proportiontocut=0.)
a

4074736.75

In [1]:
import numpy as np
from scipy import stats

# Sample exam scores
exam_scores = [85, 90, 88, 92, 78, 80, 85, 88, 82, 90]

# Hypothesized population mean
mu = 75

# Perform one-sample t-test
t_statistic, p_value = stats.ttest_1samp(exam_scores, mu)

# Print results
print("T-statistic:", t_statistic)
print("P-value:", p_value)

# Compare p-value to significance level
alpha = 0.05
if p_value < alpha:
    print("Reject null hypothesis: The average exam score is significantly different from 75.")
else:
    print("Fail to reject null hypothesis: The average exam score is not significantly different from 75.")

T-statistic: 7.363636363636362
P-value: 4.2649381051175827e-05
Reject null hypothesis: The average exam score is significantly different from 75.